# Database

ENVIRON=local
POSTGRES_NAME=postgres
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=db
POSTGRES_PORT=5432

# Email

EMAIL_HOST=smtp.gmail.com
EMAIL_HOST_USER=      # emisor del correo
EMAIL_HOST_PASSWORD=
